node_modules

tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data

*.swp
*.lock
*lock.json

# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

*.DS_Store

